.game {
  .map-container {
    background-color: #e3e3e3;

    flex-grow: 1;
    overflow: auto;
  }

  .bottom-menu {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
  }

  .rotation-choices {
    position: absolute;
    z-index: 5;

    bottom: 0;
    left: 50%;
    margin-left: -151px;
    padding-bottom: 60px;

    display: flex;
    flex-direction: row;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    background-color: #b88b6c;

    .rotation-button {
      width: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:hover svg {
        color: white;
      }

      svg {
        height: 40px;
        width: 40px;
        color: lightgrey;
      }
    }
  }
}
