.map-display {
  display: inline-block;

  @each $size in 75, 50, 25 {
    &.zoom-out.zoom-out-#{$size} table {
      td {
        width: 100px * ($size / 100);
        height: 100px * ($size / 100);

        img {
          width: 100px * ($size / 100);
          height: 100px * ($size / 100);
        }

        .piece-status {
          width: 100px * ($size / 100);
          height: 100px * ($size / 100);

          svg {
            height: 30px * ($size / 100);
            width: 30px * ($size / 100);
            padding: 10px * ($size / 100);
            border-radius: 10px * ($size / 100);
          }
        }
      }
    }
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;

    img {
      display: block;
    }

    td {
      padding: 0;
      width: 100px;
      height: 100px;

      position: relative;

      .octant-0 {
        bottom: 10px;
        right: 20px;
      }

      .octant-1 {
        bottom: 10px;
        left: 20px;
      }

      .octant-2 {
        bottom: 20px;
        left: 10px;
      }

      .octant-3 {
        top: 20px;
        left: 10px;
      }

      .octant-4 {
        top: 10px;
        left: 20px;
      }

      .octant-5 {
        top: 10px;
        right: 20px;
      }

      .octant-6 {
        top: 20px;
        right: 10px;
      }

      .octant-7 {
        bottom: 20px;
        right: 10px;
      }


      .quadrant-0 {
        bottom: 10px;
        right: 50px;
      }

      .quadrant-1 {
        bottom: 50px;
        left: 10px;
      }

      .quadrant-2 {
        top: 10px;
        left: 50px;
      }

      .quadrant-3 {
        top: 50px;
        right: 10px;
      }

      .middle {
        top: 50px;
        right: 50px;
      }

      .debug {
        position: absolute;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        border: 2px solid #8923b5;
        background-color: #ac42db;
        margin: -4.5px;
      }

      .character {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        z-index: 10;
        margin: -12px;

        &.character-team-1 {
          border: 2px solid #a00505;
          background-color: #f31010;
        }
        &.character-team-2 {
          border: 2px solid #6705a0;
          background-color: #2710f3;
        }
      }

      .piece-status {
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          height: 30px;
          width: 30px;
          border: 1px solid black;
          padding: 10px;
          border-radius: 10px;
        }

        &.ok svg {
          color: green;
          border-color: green;

          &:hover {
            color: white;
            background-color: green;
          }
        }

        &.ok-rotated svg {
          color: orange;
          border-color: orange;

          &:hover {
            color: white;
            background-color: orange;
          }
        }

        &:hover {
          &.ok-rotated svg {
            color: white;
            background-color: orange;
          }

          &.ok svg {
            color: white;
            background-color: green;
          }
        }
      }
    }

    tr {
      padding: 0;
    }
  }
}
