.map-display {
  display: inline-block;

  @each $size in 75, 50, 25 {
    &.zoom-out.zoom-out-#{$size} table {
      td {
        width: 100px * ($size / 100);
        height: 100px * ($size / 100);

        img {
          width: 100px * ($size / 100);
          height: 100px * ($size / 100);
        }

        .piece-status {
          width: 100px * ($size / 100);
          height: 100px * ($size / 100);

          svg {
            height: 30px * ($size / 100);
            width: 30px * ($size / 100);
            padding: 10px * ($size / 100);
            border-radius: 10px * ($size / 100);
          }
        }
      }
    }
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;

    td {
      padding: 0;
      width: 100px;
      height: 100px;
      position: relative;
      cursor: pointer;

      $smaller: 15px;
      $larger: 30px;

      .octant-0 {
        bottom: $smaller;
        right: $larger;
      }

      .octant-1 {
        bottom: $smaller;
        left: $larger;
      }

      .octant-2 {
        bottom: $larger;
        left: $smaller;
      }

      .octant-3 {
        top: $larger;
        left: $smaller;
      }

      .octant-4 {
        top: $smaller;
        left: $larger;
      }

      .octant-5 {
        top: $smaller;
        right: $larger;
      }

      .octant-6 {
        top: $larger;
        right: $smaller;
      }

      .octant-7 {
        bottom: $larger;
        right: $smaller;
      }

      $road: 15px;

      .quadrant-0 {
        bottom: $road;
        right: 50px;
      }

      .quadrant-1 {
        bottom: 50px;
        left: $road;
      }

      .quadrant-2 {
        top: $road;
        left: 50px;
      }

      .quadrant-3 {
        top: 50px;
        right: $road;
      }

      .middle {
        top: 50px;
        right: 50px;
      }

      .debug {
        position: absolute;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        border: 2px solid #8923b5;
        background-color: #ac42db;
        margin: -4.5px;
      }

      .character {
        position: absolute;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        z-index: 10;
        margin: -15px;
        filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.7))
      }

      &:hover {
        img.preview {
          visibility: visible;
        }

        .piece-status {
          visibility: hidden;
        }
        //.piece-status {
        //  &.ok-rotated svg {
        //    color: white;
        //    background-color: orange;
        //  }
        //
        //  &.ok svg {
        //    color: white;
        //    background-color: green;
        //  }
        //}
      }

      img {
        display: block;

        &.preview {
          //z-index: -10;
          top: 0;
          position: absolute;
          opacity: 0.5;
          visibility: hidden;
          //z-index: 0;
        }
      }

      .piece-status {
        //z-index: 10;
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          height: 30px;
          width: 30px;
          border: 1px solid black;
          padding: 10px;
          border-radius: 10px;
        }

        &.ok svg {
          color: green;
          border-color: green;

          &:hover {
            color: white;
            background-color: green;
          }
        }

        &.ok-rotated svg {
          color: orange;
          border-color: orange;

          &:hover {
            color: white;
            background-color: orange;
          }
        }
      }
    }

    tr {
      padding: 0;
    }
  }
}
