
.online-game {
  position: relative;

  .controls {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;

    background-color: #b88b6c;
    z-index: 10;

    button {
      border: 1px solid #5b361e;
      background-color: #73513a;
      padding: 15px 50px;
      color: white;
      font-weight: bold;
      border-radius: 10px;
      cursor: pointer;

      &:hover {
        background-color: #d4a280;
        color: #5b361e;
      }
    }
  }
}
