html, body, #root, .main-container {
  height: 100%;
}

.main-container {
  height: 100%;
  display: flex;
  flex-direction: column;

  .menu {
    z-index: 10;
    position: absolute;
    top: 10px;
    right: 10px;

    $menuBg: #899599;
    background-color: $menuBg;

    &.closed {
      height: 30px;
      width: 30px;
      border-radius: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid white;
      cursor: pointer;

      &:hover {
        color: white;
        background-color: white;
        border-color: $menuBg;

        svg {
          color: $menuBg;
        }
      }

      svg {
        height: 30px;
        color: white;
      }
    }

    &.open {
      display: flex;
      flex-direction: column;
      color: white;
      padding: 10px;
      border-radius: 10px;
      border-top-right-radius: 15px;

      span {
        padding: 10px 30px 10px 10px;
        border-bottom: 1px solid white;
        cursor: pointer;

        &:hover {
          color: mix(white, $menuBg);
        }

        &:last-child {
          border: 0;
        }
      }

      .times {
        position: absolute;
        top: 3px;
        right: 8px;
        cursor: pointer;

        height: 30px;
        color: white;

        &:hover {
          color: mix(white, $menuBg);
        }
      }

    }
  }
}

.outer {
  display: flex;
  flex-direction: column;

  .inner {
    display: flex;
    flex-direction: row;

    img {
      padding: 2px;
    }
  }
}

.main-limited {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  overflow: auto;
}

.players {
  li {
    display: flex;
    align-items: center;
  }
  .you {
    text-decoration: underline;
    font-weight: bold;
  }
  .turn {
  }
  li.offline {
    text-decoration: line-through;
    color: gray;
  }
}

.player-0 {
  color: #3030ba;
}
.player-1 {
  color: #ba1414;
}
.player-2 {
  color: #1db81d;
}
.player-3 {
  color: #b8b828;
}
.player-4 {
  color: #1f1f1f;
}
.player-5 {
  color: #ab0fab;
}
.player-6 {
  color: #5b361e;
}
.player-7 {
  color: #9d9d9d;
}
