html, body, #root, .main-container {
  height: 100%;
}

.main-container {
  height: 100%;
  display: flex;
  flex-direction: column;

  nav {
    background-color: #28333c;

    ul {
      display: flex;
      height: 50px;
      align-items: center;

      padding: 0;
      margin: 0;
      li {
        list-style-type: none;
        margin: 0;
        height: 100%;

        a {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0 10px;
          //padding: 10px;
          //margin: 10px;
          //text-align: center;
          //vertical-align: middle;

          text-decoration: none;
          color: white;

          &:hover {
            background-color: #1e272f;
            //color: gray
          }
        }
      }
    }
  }

  .menu {
    z-index: 10;
    position: absolute;
    top: 10px;
    right: 10px;

    $menuBg: #899599;
    background-color: $menuBg;

    &.closed {
      height: 30px;
      width: 30px;
      border-radius: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid white;
      cursor: pointer;

      &:hover {
        color: white;
        background-color: white;
        border-color: $menuBg;

        svg {
          color: $menuBg;
        }
      }

      svg {
        height: 30px;
        color: white;
      }
    }

    &.open {
      display: flex;
      flex-direction: column;
      color: white;
      padding: 10px;
      border-radius: 10px;
      border-top-right-radius: 15px;

      span {
        padding: 10px 30px 10px 10px;
        border-bottom: 1px solid white;
        cursor: pointer;

        &:hover {
          color: mix(white, $menuBg);
        }

        &:last-child {
          border: 0;
        }
      }

      .times {
        position: absolute;
        top: 3px;
        right: 8px;
        cursor: pointer;

        height: 30px;
        color: white;

        &:hover {
          color: mix(white, $menuBg);
        }
      }

    }
  }
}

.outer {
  display: flex;
  flex-direction: column;

  .inner {
    display: flex;
    flex-direction: row;

    img {
      padding: 2px;
    }
  }
}

.main-limited {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  overflow: scroll;
}

.game {
  .map-container {
    background-color: #e3e3e3;

    flex-grow: 1;
    overflow: scroll;
  }

  .rotation-choices {
    height: 110px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #c49b48;

    div {
      padding: 5px;

      &.active {
        background-color: #7a612d;
      }

      img {
        display: inline-block;
      }
    }
  }
}
